body{
    margin: 0;
    padding: 0;
    background: rgb(205, 216, 216);
}

nav{
    width: 100%;
    background: black;
    overflow: auto;
}
ul{
    margin: 0 0 0 405px;
    list-style: none;
}
li{
    float: left;
}

.logo img{
    position: absolute;
    margin-top: -10px;
    margin-left: 150px;
}
nav a{
    width: 100px;
    display: block;
    padding: 30px 15px;
    text-decoration: none;
    font-family: Arial;
    color: #f2f2f2;
    text-align: center;
}
nav a:hover{
    background: rgb(21, 205, 230);
    transition: 0.5s;
    text-transform: uppercase;
}

h1{
    text-align: center;
    font-size: 40px;
}

form{
    margin: 20px auto;
    width: 320px;
}

input{
    padding: 10px;
    font-size: inherit;
}

input[type="text"]{
    display: block;
    margin-bottom:  25px;
    width: 100%;
    border: 2px solid black;
}

input[type="email"]{
    display: block;
    margin-bottom:  25px;
    width: 100%;
    border: 2px solid black;
}

input[type="radio"]{
    margin: 0 8px 25px 18px;
}

button[type="submit"]{
    width: 344px;
    height: 45px;
    border: none;
    border: 2px solid white;
    background: black;
    color: white;
}

button[type="reset"]{
    width: 344px;
    height: 45px;
    border: 2px solid white;
    background: black;
    color: white;
}

input[type="radio"]:checked + label{
    font-weight: bold;
    font-size: 18px;
}

input[type="reset"]{
    width: 344px;
    height: 45px;
    border: none;
    border: 2px solid white;
    background: black;
    color: white;
}

input[type="number"]{
    display: block;
    margin-bottom:  25px;
    width: 100%;
    border: 2px solid black;
}

input[type="tel"]{
    display: block;
    margin-bottom:  25px;
    width: 100%;
    border: 2px solid black;
}



